*{
    background: #E5E5E5;
    margin-left: 10px;
    margin-top: 10px;
}
body{
    display: flex;
}

button {
    border-radius: 24px;
    background-color: rgb(134, 167, 179);
    color: black;
    width: 150px;
    height: 30px;
    font-weight: bold;
    

}
.texto {
    background-color: rgb(172, 172, 230);
    border:none;
}
#nvp {
    background-image: url("imagens/img\ divertida.jpg");
    background-size: cover;
}